<div class="modal-header">
    <h5 class="modal-title">Buscar por Autor</h5>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="autorInput">Autor</label>
        <input type="text" id="autorInput" class="form-control" placeholder="Ingrese el nombre del autor">
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelBuscarModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" id="btnBuscarAutor" onclick="BuscarPorAutor()">Buscar</button>
</div>
